<head>

    <link rel="stylesheet" href="/styles/pages/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>mariAnime</title>
    <script src="/scripts/scripts.js" defer ></script>
</head>
<body>
    <br>
    <hr>
        <h2>Lista de Animes Assistidos</h2><hr>
        <div class="conteiner">
            <ul class="lista">
                
            </ul>
        </div>
        
        <form action="" id="formulario" >
            <div class="inputanimes">
                <input type="text" size="60" id="anime" required placeholder="Escreva o nome do anime que você assistiu."  ><br><br>
            </div>
            <div class="inputbotoes">
                <input type="submit"  id ="botao" value="Confirmar">
                <input type="reset" value="Limpar Campo" id="reset">
            </div>
            
        </form>
        <br>
        <hr>

</body>